:root {
    --app-padding: 24px;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: Roboto, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial;
    background-color: #f4f6f8;
}

.app-container {
    padding: var(--app-padding);
}